<html>
  <head>
    <title>Handsome Dashboard</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css">
  </head>
  <body>
    <div id="content"></div>
    <script src="assets/common.bundle.js" charset="utf-8"></script>
    <script src="assets/{{name}}.dashboard.bundle.js" charset="utf-8"></script>
  </body>
</html>
