@import "../styles/variables";

.widget.number_widget {
  background-color: rgba(255, 255, 255, 0.9);
  .number {
    font-size: 500%;
  }
}

.ui.red.button, .ui.red.buttons .button {
background-color: #2892db;
}
.ui.red.button:hover, .ui.red.buttons .button:hover{
background-color: #2e709d;
}
