@import '../styles/variables';

.widget.fourth_widget {
  background-color: $color_6;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    font-size: 1.3em;
    line-height: 1.2em;
  }
}
