$widget_width: 250px;
$widget_height: 300px;
$widget_padding: 21px;
$gutter: 10px;

$max_columns: 5;

$bg_color: #616161;
$color_1:  #00A1CB;
$color_2:  #61AE24;
$color_3:  #D70060;
$color_4:  #F18D05;
$color_5:  #94c140;
$color_6:  #7658f9;
$color_7:  #34b67a;
$color_8:  #00C373;
$color_9:  #F5C16B;
$color_10: #9c4275;
$color_11:  #E0E4CD;
$color_12: #72B377;
$color_13: #D9534F;
$color_14: #7FEDEE;
$color_15: #E65679;
$color_16: #FFFFFF;
$color_17: #e9c24e;
$color_18: #F97822;
$color_19: #d07821;
$color_20: #3f85a5;
$color_21: #9c9042;
$color_22: #002467;
$color_23: #6d4a34;
